
.btn{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn:hover{
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}